<div ng-controller="sldCtrl" >
	<p class="text-center" style="font-size: 48pt">LABGRID WEB APP</p>

</div>
<!-- start -->
<br>
<br>
<div id="grid-lab"> </div>

<!-- <div class="row">
	<div ng-repeat="x in devices" class="col-sm-2">
		<div class=" md-whiteframe-24dp greenbox">
			<a ng-click="monitor(x.deviceID)" href="">{{x.deviceName}}</a>
			<br />
			<br>
			<div ng-repeat="var in x.varList">

				{{var.variableName}}:{{var.value}}
			</div>
			<br />
			<br> 
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch"
					class="onoffswitch-checkbox" id="myonoffswitch{{x.deviceID}}">
				<label class="onoffswitch-label" for="myonoffswitch{{x.deviceID}}"> <span
					class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
				</label>
			</div>
		</div>
	</div>
</div>
 -->
 <div class="onoffswitch"  id="onoffbutton">
				<input type="checkbox" name="onoffswitch"
					class="onoffswitch-checkbox" id="myonoffswitch">
				<label class="onoffswitch-label" for="myonoffswitch"> <span
					class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
				</label>
			</div>
 
<div id= "dv_1" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_2" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_3" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_4" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_5" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_6" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_7" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_8" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_9" class=" md-whiteframe-24dp greenbox">
</div>
<div id= "dv_10" class=" md-whiteframe-24dp greenbox">
</div>



