

<div id="container"></div>
<div id="container1"></div>
<div id="container2"></div>

<div class="col-sm-12" style="height: 1000px;">

    <div id="grid-lab" >
        <div class="row">
            <div id="init"><br/><br/><br/><br/><br/><br/>
                <button ng-click="standby()" type="button" style="font-size: 18px;" class="btn {{bStyle}} btn-circle btn-xl">{{init}}
                </button></div>
            <div id="start"><br/><br/><button type="button" class="btn btn-info btn-circle btn-xl" ng-click="start()">START</button></div>
            <div id="end"><br/><br/><button type="button" class="btn btn-default btn-circle btn-xl" ng-click="stop()">STOP</button></div>

            <div id="sim"><br/><br/>
                <button ng-click="startSim()" type="button" style="font-size: 18px;" class="btn {{sStyle}} btn-circle btn-xl">SIM
                </button>
            </div>




        </div>
        <!--  power meters -->
        <div id="power1-bat1" class="powercontent" ng-show="true"><span ng-bind="(powerbat1.power >=0? powerbat1.power: -powerbat1.power | number: 2 )"></span> kW
        </div>
        <div id="power1-bat2"  class="powercontent" ><span ng-bind="(powerbat2.power >=0? powerbat2.power: -powerbat2.power | number: 2)"></span> kW</div>
        <div id="power1-pv1" class="powercontent" ><span ng-bind="(powerpv1.power>=0? powerpv1.power: -powerpv1.power | number: 2)"></span> kW</div>
        <div id="power1-pv2" class="powercontent" ><span ng-bind="(powerpv2.power>=0? powerpv2.power: -powerpv2.power | number: 2)"></span> kW</div>
        <div id="power1-dcsource1" class="powercontent" ><span ng-bind="(powerdcsource1.power >=0? powerdcsource1.power: -powerdcsource1.power | number: 2)"></span> kW</div>
        <div id="power1-dcload1" class="powercontent" ><span ng-bind="(powerdcload1.power>=0? powerdcload1.power: -powerdcload1.power | number: 2)"></span> kW</div>
        <div id="power1-bic1" class="powercontent" ><span ng-bind="(powerbic1.power>=0? powerbic1.power: -powerbic1.power | number: 2)"></span> kW</div>
        <div id="power1-bic2"class="powercontent" ><span ng-bind="(powerbic2.power >=0? powerbic2.power: -powerbic2.power | number: 2)"></span> kW</div>
        <div id="power1-acsimulator"class="powercontent" ><span ng-bind="(powersimulator.totalActivePower>=0? powersimulator.totalActivePower: -powersimulator.totalActivePower  | number: 2)"></span> kW</div>
        <div id="power1-acsource1"class="powercontent"><span  ng-bind="(poweracsource1.totalApparentPower>=0? poweracsource1.totalApparentPower: -poweracsource1.totalApparentPower | number: 2)"></span> kW</div>
        <div id="power1-acload1"class="powercontent" ><span  ng-bind="(poweracload1.totalApparentPower>=0? poweracload1.totalApparentPower: -poweracload1.totalApparentPower | number: 2)"></span> kW</div>
        <div id="power-acload2"class="powercontent">0 kW</div>


        <!-- device 1  -->

        <div id="label-id1" class="greenBox">
            <table>

                <tr><td><label id="label-id1-volt" ng-bind="bat1.BAT_VOL"></label></td><td>V</td></tr>
                <tr><td><label id="label-id1-cur" ng-bind="bat1.OUTPUT_CUR"></label></td><td>A</td></tr>
<!--
                <tr><td><label id="label-id1-power" ng-bind="bat1.OPERATING_POW"></label></td><td>W</td></tr>
-->
                <!--
                                    <tr><td><label id="label-id1-status" ng-bind="bat1.status"></label></td></tr>
                -->
            </table>
        </div>
        <a  href="http://192.168.127.12:8080/battery" target="_blank" >

            <span id="dc-pv-1" ng-style="bat1.status != '' && {'background-image':'url('+bat1.status+')'}"></span></a>

        </a>

        <!-- device 2  -->

        <div id="label-id2" class="greenBox">
            <table>
                <!-- 				<tr><td>Mode:</td><td><label id="label-id2-mode"></label></td></tr>-->
                <!--                   <tr><td></td><td><label id="label-id2-power" ></label></td><td>W</td></tr>
                                   <tr><td></td><td><label id="label-id2-current"></label>14.7</td><td>A</td></tr>
                                   <tr><td></td><td><label id="label-id2-volt"></label>5982.5</td><td>V</td></tr>-->

                <tr><td><label ng-bind="pv1.CH1_VOL"></label></td><td>V</td></tr>
                <tr><td><label  ng-bind="pv1.OUTPUT_CUR"></label></td><td>A</td></tr>
<!--
                <tr><td><label  ng-bind="pv1.CH1_POWER"></label></td><td>W</td></tr>
-->
                <!-- <tr><td>Mode:</td><td><label id="label-id2-mode"></label></td><td></td></tr> -->

            </table>
            <!-- 				<a href="http://192.168.127.12:8080/pv" target="_blank"><span class="linkspan"></span></a> -->
        </div>
        <a href="http://192.168.127.13:8080/battery" target="_blank">
            <span id="dc-pv-2" ng-style="bat2.status != '' && {'background-image':'url('+bat2.status+')'}"></span></a>
        </a>


        <!-- device 3  -->

        <div id="label-id3" class="greenBox">
            <table>
                <tr><td >Freq.Hz:</td><td><label  ng-bind="bic1.AC_bus_Frequency"></label></td></tr>
                <tr><td>&Phi;AB V:</td><td><label  ng-bind="bic1.AC_bus_voltage_phase_A"></label></td></tr>
                <tr><td>&Phi;BC V:</td><td><label  ng-bind="bic1.AC_bus_voltage_phase_B"></label></td></tr>
                <tr><td>&Phi;CA V:</td><td><label  ng-bind="bic1.AC_bus_voltage_phase_C"></label></td></tr>
             <!--   <tr><td>P W:</td><td><label  ng-bind="bic1.AC_output_active_power"></label></td></tr>
                <tr><td>Q W:</td><td><label  ng-bind="bic1.AC_output_reactive_power"></label></td></tr>-->
            </table>
            <!-- 				<a href="http://192.168.127.12:8080/bic" target="_blank"><span class="linkspan"></span></a> -->
        </div>

        <a href="http://192.168.127.12:8080/pv" target="_blank">
            <span id="dc-pv-3" ng-style="pv1.status != '' && {'background-image':'url('+pv1.status+')'}"></span></a>
        </a>
        <!-- device 4 dcsource -->
        <div id="arrow-dcsource1" style="animation:{{dcsource1.animation}};" ng-style="dcsource1.arrow != '' && {'background-image':'url('+dcsource1.arrow+')'}"></div>


        <div id="label-dcsource1" class="greenBox">
            <div id="dc-source-greenBox">
                <table>
                    <tr><td><span ng-bind="(dcsource1.variables.loadVoltage | number : 1)"></span></td><td>&nbsp;V</td></tr>
                    <tr><td><span ng-bind="(dcsource1.variables.loadCurrent| number : 1)"></span></td><td>&nbsp;A</td></tr>
<!--
                    <tr><td><span ng-bind="(dcsource1.power | number : 1)"></span></td><td>&nbsp;W</td></tr>
-->
                    <!-- <tr><td>Output Current:</td><td><label id="label-id4-curr"></label></td><td>A</td></tr> -->
                </table>
            </div>
        </div>

        <!--ng-style="dcsource1.status != '' && {'background-image':'url('+dcsource1.status+')'}"-->
<!--
        <span id="dc-pv-4" ng-click="open('dcsource1')"  ng-style="dcsource1.status != '' && {'background-image':'url('+dcsource1.status+')'}" ></span></a>
-->
        <span id="dc-pv-4" ng-click="open('dcsource1')"  ng-style="{'background-image':'url('+offStatus+')'}" ></span></a>


        <a href="http://192.168.127.13:8080/pv" target="_blank">
            <span id="dc-pv-pv2" ng-style="pv2.status != '' && {'background-image':'url('+pv2.status+')'}"></span></a>
        </a>
        <a href="http://192.168.127.13:8080/bic" target="_blank">

            <span id="dc-pv-bic2" ng-style="((!bic2 && {'background-image':'url(icons/off-16x16.png)'}) || (bic2.status != '' && {'background-image':'url('+bic2.status+')'}))"></span></a>

        </a>

        <!-- device 5  -->

        <div id="label-id5" class="greenBox">
            <div id="dc-load-greenBox" style="display:block">
                <table>
                    <tr><td><span ng-bind="(dcload1.variables.voltage | number : 1)"></span></td><td>&nbsp;V</td></tr>
                    <tr><td><span ng-bind="(dcload1.variables.current| number : 1)"></span></td><td>&nbsp;A</td></tr>
<!--
                    <tr><td><span ng-bind="(dcload1.variables.power | number : 1)"></span></td><td>&nbsp;W</td></tr>
-->
                    <tr><td><span ng-bind="(dcload1.variables.resistance | number : 1)"></span></td><td>&nbsp;Ω</td></tr>
                </table>

            </div>
        </div>
        <span id="dc-pv-5" ng-click="open('dcload1')" ng-style="dcload1.status != '' && {'background-image':'url('+dcload1.status+')'}"></span></a>


        <!-- device 6  -->

        <div id="label-id6">
            lbl 6 V<br /> 2.3 A <br /> 23 kW <br />
        </div>
        <span id="dc-pv-6" ng-style="poweracload1.status != '' && {'background-image':'url('+poweracload1.status+')'}"></span></a>

        <!-- device 7  -->

        <div id="label-id7">

            lbl7 V<br /> 2.3 A <br /> 23 kW <br />
        </div>
        <span id="dc-pv-7" ng-click="open('gridsimulator')" ng-style="gridsimulator.status != '' && {'background-image':'url('+gridsimulator.status+')'}"></span></a>

        <!-- device 8  -->

        <a href="http://192.168.127.12:8080/bic" target="_blank">
            <span id="dc-pv-8" ng-style="bic1.status != '' && {'background-image':'url('+bic1.status+')'}"></span>
        </a>

        <!-- new devices -->


        <!---->
<!--
        <span id="dc-pv-ac-source-1" ng-click="open('acsource1')" ng-style="acsource1.status != '' && {'background-image':'url('+acsource1.status+')'}"></span></a>
-->
        <span id="dc-pv-ac-source-1" ng-click="open('acsource1')" ng-style="{'background-image':'url('+offStatus+')'}"></span></a>



        <div id="acsource-label1" class="greenBox">
            <table>

                <tr><td><span ng-bind="(acsource1.variables.outputVoltage | number : 1)"></span></td><td>&nbsp;V</td></tr>
                <tr><td><span ng-bind="(acsource1.variables.current| number : 1)"></span></td><td>&nbsp;A</td></tr>
<!--
                <tr><td><span ng-bind="(acsource1.variables.realPower| number : 1)"></span></td><td>&nbsp;W</td></tr>
-->
                <tr><td><span ng-bind="(acsource1.variables.frequency| number : 1)"></span></td><td>&nbsp;Hz</td></tr>
            </table>
        </div>

        <div id="gridsimulator-label" class="greenBox">
            <table>
                <tr><td><span ng-bind="(gridsimulator.voltage | number : 1)"></span></td><td>&nbsp;V</td></tr>
                <tr><td><span ng-bind="(gridsimulator.current| number : 1)"></span></td><td>&nbsp;A</td></tr>
<!--
                <tr><td><span ng-bind="(gridsimulator.realPower| number : 1)"></span></td><td>&nbsp;W</td></tr>
-->
                <tr><td><span ng-bind="(gridsimulator.frequency| number : 1)"></span></td><td>&nbsp;Hz</td></tr>
                <tr><td><span ng-bind="(gridsimulator.powerFactor| number : 4)"></span></td><td> PF</td></tr>
            </table>
        </div>

        <div id="convert2" class="greenBox">
            <table>
                <tr><td >Freq.Hz:</td><td><label  ng-bind="(bic2.AC_bus_Frequency| number : 1)"></label></td></tr>
                <tr><td>&Phi;AB V:</td><td><label  ng-bind="(bic2.AC_bus_voltage_phase_A| number : 1)"></label></td></tr>
                <tr><td>&Phi;BC V:</td><td><label  ng-bind="(bic2.AC_bus_voltage_phase_B| number : 1)"></label></td></tr>
                <tr><td>&Phi;CA V:</td><td><label  ng-bind="(bic2.AC_bus_voltage_phase_C| number : 1)"></label></td></tr>
               <!-- <tr><td>P W:</td><td><label  ng-bind="(bic2.AC_output_active_power| number : 1)"></label></td></tr>
                <tr><td>Q W:</td><td><label  ng-bind="(bic2.AC_output_reactive_power| number : 1)"></label></td></tr>-->
            </table>
        </div>


        <div id="label-pv2" class="greenBox">
            <table>
                <tr><td><label ng-bind="(pv2.CH1_VOL| number : 1)"></label></td><td>V</td></tr>
                <tr><td><label  ng-bind="(pv2.OUTPUT_CUR| number : 1)"></label></td><td>A</td></tr>
<!--
                <tr><td><label  ng-bind="(pv2.CH1_POWER| number : 1)"></label></td><td>W</td></tr>
-->
                <!-- <tr><td>Mode:</td><td><label id="label-pv2-mode"></label></td><td></td></tr> -->

            </table>
        </div>

        <div id="label-bat2" class="greenBox">
            <table>

                <tr><td><label  ng-bind="(bat2.BAT_VOL| number : 1)"></label></td><td>V</td></tr>
                <tr><td><label ng-bind="(bat2.OUTPUT_CUR| number : 1)"></label></td><td>A</td></tr>
<!--
                <tr><td><label  ng-bind="(bat2.OPERATING_POW| number : 1)"></label></td><td>W</td></tr>
-->
            </table>
        </div>

        <div id="label-acload" class="greenBox">
            <table>
                <tr><td>Voltage:</td><td><label id="label-acload-volt">200</label></td><td>V</td></tr>
                <tr><td>Current:</td><td><label id="label-acload-cur">17.39</label></td><td>A</td></tr>
<!--
                <tr><td>Power:</td><td><label id="label-acload-power">6</label></td><td>kW</td></tr>
-->
            </table>
        </div>

        <div><span id="dc-pv-acload2"></span></div>
        <div id="dc-pv-ac-load-2"></div>
        <div id="arrow-dcload1" style="animation:{{dcload1.animation}};" ng-style="dcload1.arrow != '' && {'background-image':'url('+dcload1.arrow+')'}"></div>
        <div id="arrow-acsource1" style="animation:{{acsource1.animation}};" ng-style="acsource1.arrow != '' && {'background-image':'url('+acsource1.arrow+')'}"></div>
        <div id="arrow-acload1" style="animation:{{poweracload1.animation}};" ng-style="poweracload1.arrow != '' && {'background-image':'url('+poweracload1.arrow+')'}"></div>
        <div id="arrow-bat1" style="animation:{{bat1.animation}};" ng-style="bat1.arrow != '' && {'background-image':'url('+bat1.arrow+')'}"></div>
        <div id="arrow-bat2" style="animation:{{bat2.animation}};" ng-style="bat2.arrow != '' && {'background-image':'url('+bat2.arrow+')'}"></div>
        <div id="arrow-pv1" style="animation:{{pv1.animation}};" ng-style="pv1.arrow != '' && {'background-image':'url('+pv1.arrow+')'}"></div>
        <div id="arrow-pv2" style="animation:{{pv2.animation}};" ng-style="pv2.arrow != '' && {'background-image':'url('+pv2.arrow+')'}"></div>
        <div id="arrow-bic1"  style="animation:{{bic1.animation}};" ng-style="bic1.arrow != '' && {'background-image':'url('+bic1.arrow+')'}"></div>
        <div id="arrow-bic2"  style="animation:{{bic2.animation}};" ng-style="bic2.arrow != '' && {'background-image':'url('+bic2.arrow+')'}"></div>
        <div id="arrow-gridsimulator" style="animation:{{gridsimulator.animation}};" ng-style="gridsimulator.arrow != '' && {'background-image':'url('+gridsimulator.arrow+')'}"></div>


        <div id="dymanicload">   <button type="button" ng-click="toggle()" class="btn btn-primary btn-lg">
            {{ visible ? '' : '' }} DC Load
            </button>
        </div>

        <div id="dymanicpv">   <button type="button" ng-click="togglePv()" class="btn {{pvbStyle}} btn-lg">
            {{ visiblePv ? ' ' : ' ' }} PV1
        </button>
        </div>

        <div id="sliderbar" ng-show="visible">
                <rzslider rz-slider-model="verticalSlider5.value"
                          rz-slider-options="verticalSlider5.options"></rzslider>
            <div class="btn-group btn-group-xs">
                <button type="button" ng-click="ok()" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div id="sliderbar-bat1">
            <rzslider class="custom-slider" rz-slider-model="bat1Slider.value"
                      rz-slider-options="bat1Slider.options"></rzslider>
        </div>

        <div id="sliderbar-bat2">
            <rzslider class="custom-slider" rz-slider-model="bat2Slider.value"
                      rz-slider-options="bat2Slider.options"></rzslider>
        </div>
        
        <div id="pvplot" ng-show="visiblePv">

        </div>

        <div id="pvclick" ng-click="showPvPlot()">

        </div>

</div>

<style>

    #power1-bic1:hover~#label-id3{
        display: block;
    }
    #power1-bic2:hover~#convert2{
        display: block;
    }

    #power1-bat1:hover~#label-id1{
        display: block;
    }
    #power1-bat2:hover~#label-bat2{
        display: block;
    }

    #power1-pv1:hover~#label-id2{
        display: block;
    }



    #power1-pv2:hover~#label-pv2{
        display: block;
    }

    #power1-dcsource1:hover~#label-dcsource1{
        display: block;
    }

    #power1-dcload1:hover~#label-id5{
        display: block;
    }
    #power1-acsimulator:hover~#gridsimulator-label{
        display: block;
    }
    #power1-acsource1:hover~#acsource-label1{
        display: block;
    }

</style>






