<div class="modal-header">
    <h3 class="modal-title">{{deviceId}}
        <label class="pull-right">
            <input name="switch-field-1" ng-click="changeStatus()" class="ace ace-switch ace-switch-4" type="checkbox" ng-model="device.variables.deviceStatus" ng-true-value="1" ng-false-value="0"/>
            <span class="lbl"></span>  </label>
    </h3>
    <div class="row">
        <label class="col-sm-2 control-label">
            Model </label>
        <div class="col-sm-4 ">
            <label class="waiting">{{device.deviceModel}}</label>
        </div>

        <label  class="col-sm-2 control-label">
            Timestamp </label>
        <div class="col-sm-4">
            <label class="red">{{device.updatedTimestamp | date:'yyyy-MM-dd hh:mm:ss'}}</label>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">
            Type </label>
        <div class="col-sm-4 ">
            <label class="waiting">{{device.deviceType}}</label>
        </div>

        <label  class="col-sm-2 control-label">
            IP Address </label>
        <div class="col-sm-4">
            <label class="waiting">{{device.ip | date:'yyyy-MM-dd hh:mm:ss'}}</label>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">
            Port  </label>
        <div class="col-sm-4 ">
            <label class="waiting">{{device.port}}</label>
        </div>

        <label  class="col-sm-2 control-label">
            Protocol </label>
        <div class="col-sm-4">
            <label class="waiting">{{device.protocol | date:'yyyy-MM-dd hh:mm:ss'}}</label>
        </div>
    </div>
</div>
<div class="modal-body">
    <h4>Readings</h4>
    <div class="row">
        <label class="col-sm-3 control-label">
        Output Voltage(V) </label>
        <div class="col-sm-3">
            <strong class="waiting" id="dcsource_outV">{{device.variables.sourceVoltage | number:1}}</strong>
        </div>

        <label  class="col-sm-3 control-label">
            Output Current(A) </label>
        <div class="col-sm-3">
            <strong class="waiting" id="dcsource_outC">{{device.variables.sourceCurrent | number:1}}</strong>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3 control-label">
            Voltage Limit(V) </label>
        <div class="col-sm-3 ">
            <strong class="waiting" id="dcsource_ovp">{{device.variables.voltageProtection | number:1}}</strong>
        </div>

        <label  class="col-sm-3 control-label">
            Current Limit(A)</label>
        <div class="col-sm-3">
            <strong class="waiting" id="dcsource_ocp">{{device.variables.currentProtection | number:1}}</strong>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3 control-label">
            Set Voltage(V) </label>
        <div class="col-sm-3 ">
            <strong class="waiting" id="dcsource_sourceV">{{device.variables.loadVoltage | number:1}}</strong>
        </div>

        <label  class="col-sm-3 control-label">
            Set Current(A) </label>
        <div class="col-sm-3">
            <strong class="waiting" id="dcsource_sourceC">{{device.variables.loadCurrent | number:1}}</strong>
        </div>
    </div>
    <hr />

    <h4>Settings</h4>


    <div class="row">
        <label class="col-sm-3 control-label">
            Set Voltage(V) </label>
        <div class="col-sm-3 ">
            <input type="number" name="voltage" ng-model="data.sourceVoltage" class="form-control" maxlength="10" size="4" id="set_voltage" class="required" />
        </div>

        <label  class="col-sm-3 control-label">
            Voltage Limit(>100V) </label>
        <div class="col-sm-3">
            <input type="number" required  name="overVoltageProtection" ng-model="data.voltageProtection" class="form-control" maxlength="10" size="4" id="dc_source_ovp" class="required" />
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3 control-label">
            Set Current(A) </label>
        <div class="col-sm-3 ">
            <input type="number" name="current" ng-model="data.sourceCurrent" class="form-control" maxlength="10" size="4" id="set_current" />
        </div>

        <label  class="col-sm-3 control-label">
            Current Limit(>10A) </label>
        <div class="col-sm-3">
            <input type="number" name="overCurrentProtection" ng-model="data.currentProtection" class="form-control" maxlength="10" size="4" id="dc_source_ocp" />
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"
            ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button"
            ng-click="close()">Cancel</button>
</div>


