<div class="modal-header">
    <h3 class="modal-title">{{deviceId}}
        <label class="pull-right">
            <input class="ace ace-switch ace-switch-4" type="checkbox" ng-click="changeStatus()" ng-model="device.deviceStatus" ng-true-value="'ON'" ng-false-value="'OFF'"/>
            <span class="lbl"></span>  </label>
    </h3>
    <div class="row">
        <label class="col-sm-2 control-label">
            Model </label>
        <div class="col-sm-4 ">
            <label class="waiting">Chroma ATE,61860</label>
        </div>

        <label  class="col-sm-2 control-label">
            Timestamp </label>
        <div class="col-sm-4">
            <label class="red">{{device.timestamp}}</label>
        </div>
    </div>

</div>
<div class="modal-body">
    <h4>Readings</h4>
    <div class="row">
        <label class="col-sm-4 control-label">
            Output Voltage(V) </label>
        <div class="col-sm-2 ">
            <strong class="waiting" id="gridsimulator_voltage">{{device.voltage | number:1}}</strong>
        </div>

        <label  class="col-sm-4 control-label">
            Current(A) </label>
        <div class="col-sm-2">
            <strong class="waiting" id="gridsimulator_current">{{device.current | number:1}}</strong>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 control-label">
            Power(Kw) </label>
        <div class="col-sm-2 ">
            <strong class="waiting" id="gridsimulator_power">{{device.realPower | number:1}}</strong>
        </div>

        <label  class="col-sm-4 control-label">
            Frequency(Hz)</label>
        <div class="col-sm-2">
            <strong class="waiting" id="gridsimulator_frequency">{{device.frequency | number:1}}</strong>
        </div>
    </div>
    <hr />

    <h4>Settings</h4>

    <div class="row">
        <label class="col-sm-4 control-label">
            Output Voltage(V) </label>
        <div class="col-sm-2 ">
            <input type="number" name="voltage" ng-model="data.voltage" class="form-control" maxlength="10" size="4" value="115" class="required" />
        </div>

        <label  class="col-sm-4 control-label">
            Voltage Limit(>100V) </label>
        <div class="col-sm-2">
            <input type="number" ng-model="data.voltageLimit" class="form-control" maxlength="10" size="4" value="150"  class="required" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-4 control-label">
            Current Limit(A) </label>
        <div class="col-sm-2 ">
            <input type="number" ng-model="data.currentLimit" class="form-control" maxlength="10" size="4"  value="20"/>
        </div>

        <label  class="col-sm-4 control-label">
            Frequency(Hz) </label>
        <div class="col-sm-2">
            <input type="number" ng-model="data.frequency" class="form-control" maxlength="10" size="4" value="50"/>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-4 control-label">
            Power Protection </label>
        <div class="col-sm-2 ">
            <input type="number" ng-model="data.powerProtection" class="form-control" maxlength="10" size="4" value="10000"/>
        </div>

    </div>





</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"
            ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button"
            ng-click="close()">Cancel</button>
</div>


