<div class="page-header">
    <h1>Device Details : {{device.name}}</h1>
</div>

<div class="container-fluid"></div>
 <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-5">
		{{device.name}}
      </div>
      <label  class="col-sm-1 col-form-label">Type</label>
      <div class="col-sm-4">
		
		<div ng-show="device.type != null">
		{{device.type}} 
		</div>

		<div ng-show="device.type == null">
		Undefined
		</div>
      </div>
 </div>
 
<div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
{{device.description}}
      </div>
    </div>
    <div class="form-group row">
      <label for="vendor" class="col-sm-2 col-form-label">Vendor</label>
      <div class="col-sm-5">
{{device.vendor}}
      </div>
       <label class="col-sm-2">Programmable</label>
      <div class="col-sm-3">
        <div class="form-check">
{{device.isProgrammable}}
        </div>
      </div>
    </div>
     <div class="form-group row">
      <label for="Model" class="col-sm-2 col-form-label">Model</label>
      <div class="col-sm-5">
{{device.model}}
      </div>
      
      <label class="col-sm-2">Connected</label>
      <div class="col-sm-3">
        <div class="form-check">
{{device.isConnected}}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Location" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
{{device.location}}	
      </div>
    </div>
      
      <div class="form-group row">
      <label for="ip" class="col-sm-2 col-form-label">IP</label>
      <div class="col-sm-5">
		{{device.ip}}
      </div>
      <label for="ip" class="col-sm-1 col-form-label">Port</label>
      <div class="col-sm-2">
{{device.port}} 
     </div>
    </div>
    <div class="form-group row">
      <label for="Bus" class="col-sm-2 col-form-label" >BUS</label>
      <div class="col-sm-10">
{{device.bus}}
        </div>   
    </div>
  <div class="form-group row">
      <label for="comments" class="col-sm-2 col-form-label">Comments: </label>
      <div class="col-sm-10">
			{{device.comments}}
			Please input some comments here 
      </div>
    </div>